header, footer, div {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding: .5em;

}
#playerZone {
    background-color: green;
}

#enemyZone {
    background-color: red;
}

#attackBtn{
    display: none;
    clear: both;
}

.col-3{
    display: inline;
}

p {
    margin-bottom: 0rem;
}

img {
    height: 100px;
    width: 100px;
    display: inline-block;
}
