header, div {
    margin-left:auto;
    margin-right:auto;
    text-align: center;

}

#playerZone {
    background-color: green;
}

#enemyZone {
    background-color: red;
}

h2, .character {
    display: inline;
}

#attackBtn{
    display: none;
}

img {
    height: 100px;
    width: 100px;
}