header, footer, div {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding: .5em;

}

body{
    background-color: seashell;
    color: black;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#attackBtn{
    display: none;
    background-color: red;
    color: white;
}

.col-3{
    display: inline;
}

p {
    margin-bottom: 0rem;
}

li {
    list-style-type: none;
}

#playerZone, #enemyZone {
    display: none;
}


img {
    height: 100px;
    width: 100px;
    display: inline-block;
}

#selectZone .character:hover{
    background-color: gold;
}


#resetBtn{
display:none;
}

#enemyZone{
    background-color: goldenrod;
}

#playerZone{
    background-color: darkturquoise;
}